body {
    background: #fff;
    color: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 28px;
    margin:0;
    padding: 0;
}

h1 {
    font-size: 32px;
    text-decoration: none;
}

h2 {
    font-size: 26px;
    color: #05C46B;
}

p {
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}

div {
    padding: 2% 5%;
}

.logo {
    padding-right: 20px;
}

button {
    font-size: 16px;
    font-weight: 500;
    padding: 9px 25px;
    background-color: #05C46B;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

.image {
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}